body, header {
    text-align: center;
}
body {
    font-family: sans-serif;
}
.form {
    margin-top: 10px;
}
header {
    font-size: 18px;
    color: darkslateblue;
}
i {
    font-style: italic;
    font-size: 14px;
}
table, td {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.value {
    width: auto;
}
.data {
    width: 150px;
}