{% extends 'base.html' %}

{% block head %}
<header>
    <h1>Počasí ve městě {{ weather.city }}</h1>
</header>
{% endblock %}
{% block body %}
<body>
    <img src={{ weather.img_url }} width="50px" height="50px"><br>
    <strong>Aktuální teplota: </strong>{{ weather.temp }} °C<br>
    <strong>Stav počasí: </strong>{{ weather.description }}<br>
    <strong>Rychlost větru: </strong> {{ weather.wind }} m/s<br>

    <div class="form">
        <br><strong>Zobrazit jiné město:</strong>
        <form action="/", method="POST">
            <input type="text" name="city" id="city">
            <input type="submit" value="Zobrazit">
        </form>
    </div>
</body>
{% endblock %}