{% extends 'base.html' %}

{% block head %}
<header>
    <h1>Počasí ve městě {{ weather.city }}</h1>
</header>
{% endblock %}
{% block body %}
<body>
    <img src={{ weather.img_url }} width="50px" height="50px"><br>
    <table class="pocasi">
        <tr>
            <td class="data_field"><strong>Aktuální teplota: </strong></td>
            <td class="value_field">{{ weather.temp }} °C</td>
        </tr>
        <tr>
            <td class="data_field"><strong>Stav počasí: </strong></td>
            <td class="value_field">{{ weather.description }}</td>
        </tr>
        <tr>
            <td class="data_field"><strong>Rychlost větru: </strong></td>
            <td class="value_field">{{ weather.wind }} m/s</td>
        </tr>
        <tr>
            <td class="data_field"><strong> Východ slunce: </strong></td>
            <td class="value_field">{{ weather.sunrise }}</td>
        </tr>
        <tr>
            <td class="data_field"><strong> Západ slunce: </strong></td>
            <td class="value_field">{{ weather.sunset }}</td>
        </tr>
    </table>
    <div class="form">
        <br><strong>Zobrazit jiné město:</strong>
        <form action="/", method="POST">
            <input type="text" name="city" id="city">
            <input type="submit" value="Zobrazit">
        </form>
    </div>
</body>
{% endblock %}